PORT=3000
HOST=0.0.0.0
LIVE_FEED_URL=https://biquote.io/api
OTC_FEED_URL=
QUOTEX_WS_URL=wss://ws2.qxbroker.com/socket.io/?EIO=3&transport=websocket
QUOTEX_SESSION=
QUOTEX_IS_DEMO=1
CORS_ORIGIN=*
MIN_CANDLES=120
CACHE_MS=2500
